/lazy-lock.json
/lua/config/local.lua

/config-tester/nvim-linux-x86_64.tar.gz
/config-tester/config
/config-tester/bashrc
/config-tester/config.deps
/config-tester/docker-build.stamp
/config-tester/test-run.stamp
